header.main-header{
    background-color: #1f1e1e;
    padding: 25px;
}
header .blind{
    display: flex;
    align-items: center;
}
.icon{
    color: #ffba00;
    font-size: 25px;
    margin-right: 5px;
}
.icon:hover{
    color: #fff;
}
.imgHeader{
    margin: 0 15px;
}
.aHeader{
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
}
.aHeader:hover{
    color: #ffba00;
}
.navHeader{
    background-color: #1f1e1ed2;
    padding: 25px;
}
.ulNav{
    display: flex;
}
/*
##########################################################################
*/
@media screen and (max-width: 748px){
    header.main-header .container{
        justify-content: center;
    }
    header .blind, .ulNav{
        display: none;
        align-items: center;
    }
    
}