.main-parallax{
    background-image: url('../../img/Parralax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    background-attachment: fixed;
}
.main-parallax .container .tag,.main-parallax .container .main-subtitle{
    margin-bottom: 35px;
}

.main-parallax .container{
    display: block;
    padding-top: 70px;
}
.contentParallax{
    background-color: #000;
    height: 150px;
}

@media screen and (max-width: 320px){
    .main-parallax .container .tag{
        width: 150px;

    }
    .main-parallax .container .main-subtitle{
        font-size: 20px;
    }
    .main-parallax .container .main-title{
        font-size: 40px;
    }
}