h2.main-subtitle{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight:100;
}
.single-featured h2{
    text-align: left;
}
h2.sizeFeatured{
    font-size: 18px;
}
h2.subDesc{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin:  15px 0;
}