.main-product{
    background-color: #ebe9eb;
}

.productContainer{
    width: 100%;
    display: flex;
}
.singleproduct{
    width: 585px;
    height: 383px;
    margin-top:  45px;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    padding-top: 50px;
    transition: all 0.5s;

    
}
.singleproduct.img1{
    background-image: url('../../img/Sub-banner-01.jpg');
    margin-right: 50px;
    
}
.singleproduct:hover  {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.05);
}
.singleproduct.img2{
    background-image: url('../../img/Sub-banner-02.jpg');
}
.aProduct{
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 58%;
    left: 5%;
    font-weight: bolder;
}
.aProduct:hover{
    color: #ffba00;
}
.singleproduct.img3{
    background-image: url('../../img/Cms-banner-01.jpg');

    margin-right: 50px;
    
}
.singleproduct.img4{
    background-image: url('../../img/Cms-banner-02.jpg');

    margin-right: 50px;
    
}
.-black{
    color: #000 !important;
}
p.-brown{
    color: #995c31 !important;
    font-size: 30px ;
}
.-lf{

    margin-left: 200px;
}
.moveProduct {
    margin-left: 190px;
    
}
/*
##########################################################################
*/
@media screen and (max-width: 840px){
    .productContainer{
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        
    }
    .singleproduct{
        width: 100%;
        max-width: 450px;

    }
    .singleproduct.img1{
        margin-right: 0;
    }
    .singleproduct.img2{
        margin-top: -50px;
    }
  
}