header.main-header{
    background-color: #1f1e1e;
    padding: 25px;
}
header .blind{
    display: flex;
    align-items: center;
}
.icon{
    color: #ffba00;
    font-size: 25px;
    margin-right: 5px;
}
.icon:hover{
    color: #fff;
}
.imgHeader{
    margin: 0 15px;
}
.aHeader{
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
}
.aHeader:hover{
    color: #ffba00;
}
.navHeader{
    background-color: #1f1e1ed2;
    padding: 25px;
}
.ulNav{
    display: flex;

}
.NabMobile{
    display: none;
    background-image: url('../../img/menu.png');
    width: 32px;
    height: 32px;
    cursor: pointer;

}
.mobile{
      display: none;
    width: 100%;
    margin-top: 30px;
    font-size: 22px;
    width: 100%;
}
.mobile li{
    margin-bottom: 15px;
    width: 100%;
}
.mobile .aHeader:hover{
    display: block;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff
}
/*
##########################################################################
*/
@media screen and (max-width: 748px){
    header.main-header .container{
        justify-content: center;
    }
    header .blind, .ulNav{
        display: none;
        align-items: center;
    }
    .NabMobile{
        display: block;
    }
    .mobile{
        display: none;
        position: absolute;
        width: 100%;
        top: 140px;
        left: 0;
        z-index: 1;
        background-color: #474646;
        padding: 5px;
     
    }
    ul.active{
        display: block;
    }
    li .aHeader{
        padding: 5px 0;
        margin: 0 1rem;
        display: block;
        border-bottom: 1px solid rgba(255,255,0,0.5)
    }
    
}