.main-featured{
    background-color: #66554a;
    position: relative;
    height: 100%;
}
.main-featured:last-child{
    background-color: #a18674;
}
.main-featured .container{
    display:  block;
    padding: 20px;
}
.containerFeatured{
    padding: 15px;
    display: flex;
}
.single-featured{
    margin-left: 15px;
}
.imgFeatured{
    height: 280px;
}
.bntFeatured{
    background-color: #ffba00;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    position: relative;
}
.aFeatured{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
/*
#######################
*/
@media screen and (max-width: 1000px){
    .containerFeatured{
         justify-content: center;
        flex-wrap: wrap;
    }
    .single-featured{
        margin-left: 5px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 375px){
    .single-featured{
        margin-left: 0px;
        margin-top: 25px;
    }
    .imgFeatured{
        height: 200px;
    }
}